[driver]
throttle.domain.forward.shift = 4.20
throttle.domain.backward.shift = -2
throttle.reverse.gear = -6
drive.0.serial.port = /dev/ttyACM0
drive.1.serial.port = /dev/ttyACM1

# We are using only vesc_dual
drive.type = vesc_dual
#drive.type = vesc_single
#drive.type = gpio_with_hall