<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>

<body class="logbox">
    <div class="logbox" id="content">
        <div>
            <h1 class="logbox" id="title">Training Events</h1>
        </div>

        <div id="dropdown" class="logbox">
            <label for="entries_nr">Show</label>
            <select class="logbox" id="mySelect">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>entries</span>
        </div>
        <div style="width: 100vw-40px; overflow: auto;">
        <table id="display" class="logbox">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Status</th>
                    <th>Mode</th>
                    <th>Max Speed</th>
                    <th>Desired Speed</th>
                    <th>Velocity</th>
                    <th>Steer</th>
                    <th>Throttle</th>
                    <th>Steer Intervention</th>
                    <th>Speed Intervention</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>AP Steer</th>
                    <th>AP Brake</th>
                    <th>AP Steer Confidence</th>
                    <th>AP Brake Confidence</th>
                </tr>
            </thead>
            <div id="table_order" class="logbox">
            <tbody>
                <!-- Dynamic content will be loaded here -->
            </tbody>
            </div>
        </table>
        </div>

        <div id="undertable" class="logbox">
            <div id="entries" class="logbox">
                <p>Showing 
                    <span class="logbox" id="from_nr">1</span>
                     to 
                    <span class="logbox" id="to_nr">10</span>
                     of 
                    <span class="logbox" id="max_nr">10</span>
                     entries
                </p>
            </div>
            <div id="pagination" class="logbox">
                <button id="prevBtn" class="logbox">Previous</button>
                <button class="logbox nrbtn" id="firstBtn">1</button>
                <span id="startDots" class="logbox">...</span> 
                <span id="varpag" class="logbox"></span>
                <span id="endDots" class="logbox">...</span> 
                <button class="logbox nrbtn" id="lastBtn"></button>
                <button class="logbox" id="nextBtn">Next</button>
            </div>
        </div>
    </div>
</body>
</html>