<div id="advanced_settings_container">
	<h1 class="title">Advanced Settings</h1>
	<div id="advanced_settings_form_container">
		<form id="form_user_options">
			<!-- User options will be populated here -->
		</form>
		<div id="advanced_settings_form_buttons">
			<button id="edit_button">edit</button>
			<button id="submit_save_apply">save</button>
		</div>
	</div>

	<div id="view-switch">
		<fieldset class="relay-channel pro-view-toggle-container">
			<legend>Pro View</legend>
			<div class="toggle" id="pro-view-toggle-button"></div>
		</fieldset>

		<fieldset class="relay-channel PIP-view-toggle-container">
			<legend>Picture-In-Picture View</legend>
			<div class="toggle" id="PIP-view-toggle-button"></div>
		</fieldset>
	</div>
</div>
