<table id="logbox" class="display" style="width:100%">
  <thead>
      <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Status</th>
          <th>Mode</th>
          <th>Max Speed</th>
          <th>Desired Speed</th>
          <th>Velocity</th>
          <th>Steer</th>
          <th>Throttle</th>
          <th>Steer Intervention</th>
          <th>Speed Intervention</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>AP Steer</th>
          <th>AP Brake</th>
          <th>AP Steer Confidence</th>
          <th>AP Brake Confidence</th>
      </tr>
  </thead>
  <tbody>
      <!-- Dynamic content will be loaded here -->
  </tbody>
</table>