.button {
  width: 80px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#edit_button {
  color: #530D73;
  margin-left: auto;
}

#form_user_options {
  margin-left: 2vw;
}

#form_user_options div {
  margin: 3px 0;
}


#settings-content {
  position: relative;
  padding: 20px;
}

fieldset {
  border: 0;
  padding-left: 5%;
}

/* Style the legend of the fieldset */
legend {
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Style the input text of the fieldset */
fieldset input[type=text] {
  background-color: #E7E7E7;
  font-size: 16px;
  padding: 5px;
  margin-left: 15px;
  border-radius: 5px;
  width: 40%;
  border: 0;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2);
}

#submit_save_apply {
  color: #f0f0f0;
  background-color: #530D73;
  margin-left: auto;
}

/*////////////    Style for the pro view toggle slider    ////////////*/
/* The switch - the box around the slider */
/* slider:before - the ball inside the slider */
#pro-view-toggle-div {
  position: relative;
  width: fit-content;
}

#pro-view-toggle-div span {
  margin: 0 10px;
}

#pro-view-toggle-slider {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Toggle switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  /* Increased width */
  height: 20px;
  /* Decreased height for a thinner slider */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 20px;
  width: 80px;
  height: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -2px;
  bottom: -3px;
  background-color: #530D73;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #8B7697;
}

input:focus+.slider {
  box-shadow: 0 0 1px #530D73;
}

input:checked+.slider:before {
  transform: translateX(60px);
}

/* Toggle name text */
#pro-view-toggle-name {
  color: #2B2B2B;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

/* Toggle status text */
#pro-view-toggle-status {
  color: #530D73;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}


#background-image {
  position: relative;
  bottom: 80%;
  background-image: url('../assets/VR - pattern tree 1.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 130%;
}