#input-sliders {
  width: 100%;
}

#input-sliders>div {
  margin-bottom: 20px;
}

#input-sliders .slider-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  gap: 1rem;
}

#input-sliders label {
  margin-right: 15px;
  font-size: 24px;
  font-weight: bold;
}

.custom-slider {
  -webkit-appearance: none;
  width: 59%;
  height: 15px;
  border-radius: 5px;
  background: #D0D0D0;
  outline: none;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--VOR_color);
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--VOR_color);
  cursor: pointer;
}

#input-sliders input[type="range"]:focus {
  outline: none;
  box-shadow: 0 0 5px #3A0751;
}

.slider_value {
  font-size: 20px;
}


#relay-control-container {
  margin-left: 20px;
  width: 100%;
}

.relay-control-sliders-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 20px;
}


legend {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

#channel-container {
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}


.relay-channel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  border-style: hidden;
}

.relay-switch {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 34px;
}

.relay-switch input {
  width: 0;
  height: 0;
}

#relay-control-container .slider {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 20px;
  transition: .4s;
  background-color: #D0D0D0;
  cursor: pointer;
  border-radius: 10px;
}

#relay-control-container input:checked+.slider {
  background-color: #8B44A8;
  /* or any color you prefer */
}

#relay-control-container .slider.round:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  /* Start at the exact left edge */
  width: 26px;
  height: 26px;
  transition: .4s;
  background-color: #530D73;
  border-radius: 50%;
}

#relay-control-container input:checked+.slider.round:before {
  transform: translateX(120px);
  /* Adjust translateX to stop at the right edge */
}

.on-off-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.toggle-label {
  width: 50%;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: #727272;
  text-align: center;
}

@media (max-width: 768px) {
  #relay-control-container {
    margin-left: 0;
  }
  .relay-control-sliders-container {
    flex-direction: column;
  }
  

}
