body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* This will prevent scrollbar from appearing */
}

canvas {
  display: block;
}

/* top input container START */
#mobile-controller-top-input-container {
  position: fixed;
  width: 80%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem 0 0.5rem 0;
}

.input-container {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
}

.input-container label {
  width: 110px;
}

.input-text {
  width: 2rem;
  margin-left: 15px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin: 10px 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -4px;
}

/* top input container END */

/* Adjusted styles for the container and option buttons to center them horizontally at the bottom of the page */
.mobile_controller_button_container {
  position: fixed;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_option_button {
  display: flex;
  margin: 0 5px;
  width: 10vh;
  height: 10vh;
  background-color: #67b96a;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#inference_auto_speed {
  display: none;
  text-align: center;
  width: 100%;
  font-size: large;
  margin-bottom: 10px;
}

#toggle_button_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#inference_options_container {
  display: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mobile_view_container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobile-controller-motor-settings-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  top: 20px;
}

.scale-offset-confirm-text {
  font-size: 14px;
  margin-left: 10px;
}

.hidden {
  display: none;
}


canvas#following_imageCanvas {
  display: none;
  /* Initially hidden */
  position: fixed;
  /* Fixed position to keep the canvas in the center of the viewport */
  top: 50%;
  /* Align center vertically */
  left: 50%;
  /* Align center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust position to the exact center */
  border: 1px solid black;
  /* Optional: Adds a border around the canvas */
  max-width: 640px;
  /* Maximum width of the canvas */
  max-height: 480px;
  /* Maximum height of the canvas */
  aspect-ratio: 4 / 3;
  /* Maintain 4:3 aspect ratio */
}