@font-face {
  font-family: 'Sora';
  src: url('../assets/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background-color-light_m: #ffffff;
  --text-color-ligh_m: #000000;
  --background-color-dark_m: #121212;
  --text-color-dark_m: #ffffff;
  --VOR-color: #654279;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sora", Arial, sans-serif;
  overflow: hidden;
}

/* Overlay when sidebar is active */
#normal_ui::before {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* Below the sidebar and above the content */
}

/* Apply the blur effect to the content when sidebar is active */
#normal_ui.expanded::before {
  display: block;
}

#normal_ui.expanded {
  filter: blur(5px);
  /* Adjust blur intensity as desired */
}


/* Top Layer: Logo and Hamburger Menu */
#header_bar {
  width: 100vw;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--VOR-color);
  align-content: center;
  flex-direction: column;
}

#VOR_center_logo {
  height: 30px;
  display: block;
  margin: 0 auto;
}
#current_seg_name{
  font-size: 0.8rem;
  color: #8b7597;
}


/* Second Layer: Advanced View */
#debug_drive_bar {
  display: none;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid var(--VOR-color);
}

#debug_drive_values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#debug_drive_values p {
  font-size: 1rem;
  color: #555;
  display: inline-block;
  margin-right: 20px;
  font-weight: 200;
}

#debug_drive_values p span {
  font-weight: bold;
}

/* Third Layer: Stream Quality and Options */
#horizontal_bar {
  width: 100%;
  padding: 1rem 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stream_quality p {
  margin-bottom: 5px;
}

.caret {
  cursor: pointer;
  font-size: 20px;
  /* Adjust size of the arrow */
  display: inline-block;
  transition: color 0.3s;
  /* Smooth transition for color change */
  color: var(--caret-color, #000);
  /* Default color, with option to override */
}


.left_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle_section,
.right_section {
  /* flex: 1; */
  display: inline-flex;
  align-items: center;
}

.right_section {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.stream_quality {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
}

#mjpeg_stream_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.5rem;
}

#stream_quality_dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#video_stream_type {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #868686;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Necessary to remove default dropdown arrow */
}

#video_stream_type:hover {
  background-color: #0056b3;
}

#video_stream_type {
  position: relative;
}

#video_stream_type::after {
  content: '\25BC';
  /* Unicode for down arrow */
  color: white;
  position: absolute;
  right: 10px;
  top: calc(50% - 0.5em);
  pointer-events: none;
  /* Prevents the arrow from being clickable */
}


button {
  transition: background-color 0.3s ease;
  width: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}



#confidence_button_normal_controller {
  background-color: var(--VOR-color);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.speed_value {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.speed_value p {
  font-weight: bold;
}

.speed_display {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 20px;
}

.right_section button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.right_section button:hover {
  background-color: #218838;
}

/* Fourth Layer: Camera Stream View  */
#viewport_canvas {
  width: 100% !important;
  height: 100% !important;
}


#control_bar {
  position: absolute;
  bottom: 10px;
  right: 2vw;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99;
  align-content: center;
  justify-content: flex-end;
}

.preview_img {
  height: auto;
  border-radius: 5px;
  margin: 5px 0;
}

#overlay_control_container {
  display: flex;
  justify-content: space-between;
}

#overlay_control_container #expand_camera_icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 5px;
  right: 0;
}

#viewport_container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#message_box_container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  width: 100%;
}

#message_box_button_take_control {
  height: 100%;
  font-size: 1rem;
  text-align: center;
  color: var(--text-color-dark_m);
  background-color: var(--VOR-color);
}


#geo_data {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  display: flex
}

#geo_data p:nth-child(2) {
  margin-left: 10px;
}

#navigation_geo_lat,
#navigation_geo_long {
  font-weight: bold;
}

div.overlay_distance {
  position: absolute;
  visibility: visible;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

}

#overlay_image {
  margin: 5px 0 0 5px;
  border-radius: 5px;
}

#overlay_center_distance0 {
  width: 360px;
  left: calc(50vw - 180px);
}

#overlay_center_distance1 {
  width: 600px;
  left: calc(50vw - 300px);
}

#overlay_left_marker0 {
  width: 40px;
  left: 0;
}

#overlay_left_marker1 {
  width: 35px;
  left: 0;
}

#overlay_right_marker0 {
  width: 40px;
  right: 0;
}

#overlay_right_marker1 {
  width: 35px;
  right: 0;
}



@media (max-width: 768px) {

  .left_section,
  .middle_section,
  .right_section {
    width: 100%;
  }

  .left_section {
    flex-direction: column;
  }

  .speed_display,
  .stream_quality {
    width: 100%;
  }

  #horizontal_bar {
    flex-direction: column;
    align-items: center;
  }

  .left_section,
  .middle_section,
  .right_section {
    width: 100%;
    margin: 10px 0;
  }

  .flex-container,
  #hamburger_menu_toggle,
  #control_bar,
  #debug_drive_bar {
    flex-direction: column;
  }

  #hamburger_menu_toggle {
    margin-bottom: 10px;
  }

  #stream_links a,
  button {
    width: 100%;
    margin: 5px 0;
  }

  #header_bar,
  #horizontal_bar {
    flex-direction: column;
    align-items: center;
  }
}