@font-face {
  font-family: 'Sora';
  src: url('../assets/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background_color_light_mode: #ffffff;
  --text_color_ligh_mode: #000000;
  --background_color_dark_mode: #121212;
  --text_color_dark_mode: #ffffff;
  --VOR-color: #654279;
  --VOR-light-color: #AFA2B4;
  --text-color-light-p: #530D73;
  --light-p: #8B7697;
  --text-color-dark-g: #2B2B2B;
  --button-color: #B8B8B8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sora", Arial, sans-serif;
  overflow: hidden;
}

#logbox_container,
#advanced_settings_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 90vw;
  margin: 0 auto;
}

#advanced_settings_container .title,
#controls_settings_container .title,
#logbox_container .title {
  font-size: 50px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--text-color-light-p);
  border-bottom: 2px solid #694978;
  color: #530D73;
  margin-bottom: 25px;
  width: 100%;
}


/* Overlay when sidebar is active */
#normal_ui::before {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  /* add a little dark opacity for it */
  z-index: 2;
  /* Below the sidebar and above the content */
}

/* Apply the blur effect to the content when sidebar is active */
#normal_ui.expanded::before {
  display: block;
}

#normal_ui.expanded {
  filter: blur(5px);
  /* Adjust blur intensity as desired */
}


/* Top Layer: Logo and Hamburger Menu */
#header_bar {
  width: 100vw;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--VOR-light-color);
}

#header_bar .left_section,
#header_bar .middle_section,
#header_bar .right_section {
  flex: 1;
  display: flex;
  align-items: center;
}

#header_bar .left_section {
  justify-content: flex-start;
  padding-left: 42px;
}

#header_bar .middle_section {
  flex: 2;
  justify-content: center;
}

#header_bar .right_section {
  justify-content: flex-end;
}

#header_bar .middle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header_bar .left_section .rover_speed {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

#VOR_center_logo {
  height: 30px;
  display: block;
}

#current_seg_name {
  font-size: 0.8rem;
  color: #8b7597;
}

/* Adjust the right section image */
#header_bar .right_section img {
  margin-left: auto;
  /* Push the image to the right */
}


/* Second Layer: Advanced View */
#debug_drive_bar {
  display: block;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid var(--VOR-light-color);
}

#debug_drive_values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#debug_drive_values p {
  font-size: 1rem;
  color: #555;
  display: inline-block;
  margin-right: 20px;
  font-weight: 200;
}

#debug_drive_values p span {
  font-weight: bold;
}

/* Third Layer: Stream Quality and Options */
#horizontal_bar {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#horizontal_bar .left_section,
#horizontal_bar .middle_section,
#horizontal_bar .right_section {
  flex: 1;
}

.left_section {
  display: flex;
  align-items: center;
}

.middle_section {
  gap: 20px;
}

.middle_section,
.right_section {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.right_section {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.stream_quality p {
  margin-bottom: 5px;
  width: 30%;
}

.caret {
  cursor: pointer;
  font-size: 20px;
  /* Adjust size of the arrow */
  display: inline-block;
  transition: color 0.3s;
  /* Smooth transition for color change */
  color: var(--caret-color, #000);
  /* Default color, with option to override */
}

.autopilot_status {
  display: none;
}

.inf_speed {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.stream_quality {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  align-content: center;
  justify-content: flex-start;
  width: min-content;
  padding-right: 1rem;

}

#mjpeg_stream_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.5rem;
}

#stream_quality_dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#video_stream_type {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #868686;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Necessary to remove default dropdown arrow */
}

#video_stream_type:hover {
  background-color: #0056b3;
}

#video_stream_type {
  position: relative;
}

#video_stream_type::after {
  content: '\25BC';
  /* Unicode for down arrow */
  color: white;
  position: absolute;
  right: 10px;
  top: calc(50% - 0.5em);
  pointer-events: none;
  /* Prevents the arrow from being clickable */
}


button {
  transition: background-color 0.3s ease;
  width: auto;
  padding: 10px 20px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}


#confidence_button_normal_controller {
  background-color: var(--VOR-color);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.speed_value {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.inf_speed_value {
  font-weight: bold;
}

.speed_display {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 20px;
}

.right_section button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.messageContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40vw;
  text-align: center;
  z-index: 1000;
}

.messageContainer img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.message-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.message {
  color: #333;
  font-size: 16px;
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.show-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

.fade-in {
  animation: fadeIn 1s;
}

/* .right_section button:hover {
  background-color: #218838;
} */

/* Fourth Layer: Camera Stream View  */
#viewport_container {
  position: relative;
  flex: 1;
  /* take remaining space */
  width: 100%;
  /* take full width of the parent */
  display: flex;
  flex-direction: column;
  /* align children vertically */
  overflow: hidden;
}

#viewport_canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

#control_bar {
  position: absolute;
  bottom: 10px;
  right: 2vw;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99;
  align-content: center;
  justify-content: flex-end;
}

.preview_img {
  height: auto;
  border-radius: 5px;
  margin: 5px 0;
}

#overlay_control_container {
  display: flex;
  justify-content: space-between;
}

#overlay_control_container #expand_camera_icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 5px;
  right: 0;
}


#message_box_container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  width: 100%;
}

#message_box_button_take_control {
  height: 100%;
  font-size: 1rem;
  text-align: center;
  color: var(--text_color_dark_mode);
  background-color: var(--VOR-color);
}


#geo_data {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  display: flex
}

#geo_data p:nth-child(2) {
  margin-left: 10px;
}

#navigation_geo_lat,
#navigation_geo_long {
  font-weight: bold;
}

div.overlay_distance {
  position: absolute;
  visibility: visible;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  color: rgba(255, 255, 120, 0.99);
  border-bottom: 2px solid rgba(255, 255, 120, 0.99)
}

#overlay_image {
  margin: 5px 0 0 5px;
  border-radius: 5px;
  width: 320px;
  height: 240px;
  display: none;
}

#overlay_distance_markers {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#overlay_center_distance0 {
  width: 360px;
  left: calc(50vw - 180px);
  bottom: 52%;
}

#overlay_center_distance1 {
  width: 600px;
  left: calc(50vw - 300px);
  bottom: 25%;
}

#overlay_left_marker0 {
  width: 40px;
  left: 0;
  bottom: 45%;
}

#overlay_left_marker1 {
  width: 35px;
  left: 0;
  bottom: 34%;
}

#overlay_right_marker0 {
  width: 40px;
  right: 0;
  bottom: 45%;
}

#overlay_right_marker1 {
  width: 35px;
  right: 0;
  bottom: 34%;
}