/* Advanced mode */
body.advanced-theme .advanced_view {
  display: none !important;
}

/* #region PIP mode */
body.PIP-theme #main_stream_view {
  position: absolute;
}

body.PIP-theme #second_stream_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  position: absolute;
  z-index: 99;
  bottom: 10px;
  right: 2vw;
  padding: 10px;
  border-radius: 8px;
  gap: 1em;
}

body.PIP-theme #second_stream_container #second_stream_view {
  height: auto;
  border-radius: 5px;
}


body.PIP-theme #second_stream_container #expand_camera_icon {
  display: block;
}

/* #endregion */

/* #region Dark mode */
body.dark-theme,
body.dark-theme #header_bar {
  background-color: var(--background_color_dark_mode);
  color: var(--text_color_dark_mode);
}

body.dark-theme #VOR_center_logo {
  color: var(--text_color_dark_mode);
}

body.dark-theme .caret {
  color: var(--text_color_dark_mode);
}

body.dark-theme #hamburger_menu_toggle .bar {
  background-color: var(--background_color_light_mode);
}

body.dark-theme #video_stream_type {
  background-color: var(--background_color_light_mode);
  color: var(--text_color_light_mode);
}


body.dark-theme #advanced_settings_container .title,
body.dark-theme #controls_settings_container .title,
body.dark-theme #logbox_container .title {
  color: var(--text_color_dark_mode);
}

body.dark-theme .control_symbol {
  background: var(--secondary_background_dark_mode);
}


body.dark-theme table tbody>tr:nth-child(odd) {
  background-color: var(--secondary_background_dark_mode);
}

body.dark-theme table tbody>tr:nth-child(even) {
  background-color: var(--tertiary_background_dark_mode);
}

/* #endregion */

/* #region AI training feature */
body.maneuver-training-feature .steeringWheel {
  display: none;
}

body.maneuver-training-feature #horizontal_bar .current_mode_text:before {
  content: "ai training";
}

body.maneuver-training-feature #mobile_controller_container #backward_square .trail_canvas,
body.maneuver-training-feature #mobile_controller_container #backward_square .square_text {
  display: none;
}

body.maneuver-training-feature #mobile_controller_container #forward_square .square_text:before {
  content: 'forward';
}

body.maneuver-training-feature #mobile_controller_container #backward_square {
  display: block;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--background_color_light_mode), var(--background_color_light_mode) 16px, #ccc 18px, #ccc 11px);
  border: 0;
}

body.maneuver-training-feature #mobile_controller_container .control_symbol {
  display: none;
}

body.maneuver-training-feature .current_mode_button {
  display: block;
  background-color: var(--VOR_color);
  color: white;
}

body.maneuver-training-feature .current_mode_button:before {
  content: "start";
}

/*  Training started state */
body.maneuver-training-feature.training-started .current_mode_button {
  content: 'stop';
  background-color: #f41e52;
  border: none;
}

body.maneuver-training-feature.training-started .current_mode_button:before {
  content: "stop";
}

/* #endregion */

/* #region Auto navigation feature */
body.auto-navigation-feature .steeringWheel {
  display: none;
}

body.auto-navigation-feature #horizontal_bar .current_mode_text:before {
  content: "auto navigation";
}


body.auto-navigation-feature .current_mode_button:before {
  content: 'start';
}

body.auto-navigation-feature #forward_square .square_text:before {
  content: "Increase max speed";
}

body.auto-navigation-feature #backward_square .square_text:before {
  content: "decrease max speed";
}

body.auto-navigation-feature .current_mode_button {
  display: block;
  background-color: var(--VOR_color);
  color: var(--text_color_light_mode);

}

body.dark-theme.auto-navigation-feature .current_mode_button {
  background-color: var(--background_color_light_mode);
  color: var(--text_color_light_mode);

}

body.auto-navigation-feature .current_mode_text,
body.auto-navigation-feature #mobile_controller_container .trail_canvas {
  display: none;
}

body.auto-navigation-feature .rover_speed,
body.auto-navigation-feature .control_symbol {
  display: flex;
}


body.auto-navigation-feature.navigation-started .current_mode_button {
  content: 'stop';
  background-color: #f41e52;
  box-shadow: 4px 6px 8px #ff4a77;
  border: none;
}

body.auto-navigation-feature.navigation-started div.inf_speed {
  display: block;
}



body.auto-navigation-feature.navigation-started .inf_speed_value {
  display: block;
}

body.auto-navigation-feature.navigation-started .current_mode_button:before {
  content: 'stop';
}

/* #endregion */

/* #region Confidence feature  */
body.confidence-feature .current_mode_text {
  display: block;
}

body.confidence-feature #horizontal_bar .current_mode_text:before {
  content: "map recognize";
}

body.confidence-feature .steeringWheel {
  display: none;
}

body.confidence-feature .current_mode_button {
  display: block;
  background-color: var(--VOR_color);
  color: white;
}

body.confidence-feature .current_mode_button:before {
  content: 'start';
}

body.confidence-feature .control_symbol,
body.confidence-feature .stop_text {
  display: none;
}

/* Stop mode */
body.confidence-feature.stop-mode .current_mode_button {
  background-color: #f41e52;
  border: none;
}

body.confidence-feature.stop-mode .current_mode_button:before {
  content: 'stop';
}

body.confidence-feature.stop-mode #mobile_controller_container .square {
  display: block;
}

body.confidence-feature.stop-mode .stop_text,
body.confidence-feature.stop-mode .control_symbol {
  display: none;
}

/* Loading mode */
body.confidence-feature.map_recognition_loading-mode .current_mode_state {
  display: block;
  color: #ff8a00;
}

body.confidence-feature.map_recognition_loading-mode .current_mode_state:before {
  content: 'Loading...';
}

body.confidence-feature.map_recognition_loading-mode .current_mode_button {
  display: none;
}

body.confidence-feature.map_recognition_loading-mode #mobile_controller_container .middle_section,
body.confidence-feature.map_recognition_loading-mode #mobile_controller_container .square {
  display: none;
}


/* Return mode */
body.confidence-feature.return-mode .current_mode_button {
  background-color: #ffffff;
  color: #451c58;
}

body.confidence-feature.return-mode .current_mode_button:before {
  content: 'return';
}

body.confidence-feature.return-mode #mobile_controller_container .middle_section,
body.confidence-feature.return-mode #mobile_controller_container .square {
  display: none;
}


body.confidence-feature.return-mode #map_frame,
body.confidence-feature.return-mode #top_layer_iframe {

  display: block;
}



/* #endregion */

/* #region Following feature */
body.following-feature .current_mode_button {
  display: block;
}

body.following-feature #horizontal_bar .current_mode_text:before {
  content: "follow";
}

body.following-feature canvas#following_imageCanvas {
  display: block;
}


body.following-feature #mobile_controller_container .middle_section,
body.following-feature #mobile_controller_container .square {
  display: none;
}

/* Image mode */
body.following-feature.image-mode .current_mode_button {
  background-color: #ffffff;
  border: none;
}

body.following-feature.image-mode .current_mode_button::before {
  content: 'start ';
}

body.following-feature.image-mode #mobile_controller_container .current_mode_state,
body.following-feature.image-mode #mobile_controller_container .square {
  display: none;
}

/* Active mode */
body.following-feature.active-mode .current_mode_button {
  background-color: #f41e52;
  border: none;
}

body.following-feature.active-mode .current_mode_button::before {
  content: 'stop ';
}

body.following-feature.active-mode #mobile_controller_container .current_mode_state,
body.following-feature.active-mode #mobile_controller_container .square {
  display: none;
}

/* Inactive mode */
body.following-feature.inactive-mode .current_mode_button {
  content: 'start';
  background-color: #ffffff;
  border: none;
}

body.following-feature.inactive-mode #mobile_controller_container .square {
  display: block;
}

/* Loading mode */
body.following-feature.following_loading-mode #mobile_controller_container .current_mode_state:before {
  content: 'Loading...';
}

body.following-feature.following_loading-mode .current_mode_button,
body.following-feature.following_loading-mode #mobile_controller_container .square {
  display: none;
}

/* #endregion */