#container_admin_settings {
  /* it is overridden by other code parts*/
  font-family: Helvetica, sans-serif;
  padding-left: 1vw;
}

#segments_header,
#header_found_segments {
  font-size: xx-large;
}

#segment_table td,
#segment_table tr,
#segment_table sth {
  border: 1px solid rgb(160, 160, 160);
  border-collapse: collapse;
  cursor: all-scroll;
}

#segment_table table {
  border-collapse: collapse;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  user-select: none;
  /* Standard syntax */
}

/* Style for the drag handle */
#segment_table td:first-child {
  cursor: grab;
}

/* Optional: Style to indicate a draggable area */
#segment_table td:first-child::before {
  content: '☰';
  display: inline-block;
  padding-right: 10px;
  cursor: grab;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.5s ease-out;
}