:root {
  --background-color-light_m: #ffffff;
  --text-color-ligh_m: #000000;
  --background-color-dark_m: #121212;
  --text-color-dark_m: #ffffff;
  --VOR-color: #654279;
}

body {
  margin: 0;
}

.application-body {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.application-content {
  flex: 1;
  font-family: 'Arial';
  background: whitesmoke;
  transition: margin-left 0.3s;
  /* Smooth transition for content area */
}

/* TODO: make same id name as in normal_UI */
/* Overlay when sidebar is active */
.application-content::before {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* Below the sidebar and above the content */
}

/* Apply the blur effect to the content when sidebar is active */
.application-content.expanded::before {
  display: block;
}

.application-content.expanded {
  filter: blur(5px);
  /* Adjust blur intensity as desired */
}

.hamburger_menu_nav {
  width: 20em;
  /* width of the sidebar */
  border-right: 1px solid gray;
  height: 100vh;
  position: fixed;
  left: -24em;
  /* Start off-screen */
  transition: left 0.5s;
  z-index: 3;
  background-color: var(--VOR-color);
  color: #ffffff;
  padding-left: 1.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#hamburger_menu_toggle {
  font-size: 24px;
  line-height: 1;
  padding: 5px 10px;
  position: fixed;
  top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s, left 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  /* background-color: var(--background-color-light_m) !important; */
}

#hamburger_menu_toggle .bar {
  height: 3px;
  background-color: #333;
  border-radius: 2px;

}


.hamburger_menu_nav.active {
  left: 0;
  /* Bring sidebar on-screen */
}


.hamburger_menu_nav a {
  font-family: 'Arial';
  font-size: 20px;
  color: darkblue;
  display: block;
  /* Ensure the links take up the full width of the sidebar */
  color: #ffffff;
  padding: 10px 15px;
  /* More spacious padding around text */
  display: flex;
  align-items: center;
  /* Aligns icon and text vertically */
}

.hamburger_menu_nav a::before {
  font-family: 'Font Awesome 5 Free';
  /* Assuming you use Font Awesome */
  margin-right: 10px;
  /* Space between icon and text */
}


.hamburger_menu_nav a:link,
.hamburger_menu_nav a:visited {
  text-decoration: none;
}

.hamburger_menu_nav a:hover {
  text-decoration: underline;
}

.hamburger_menu_nav a.active {
  font-weight: bold;
}

table#logbox td {
  white-space: nowrap;
}

#hamburger_menu_bottom_nav {
  bottom: 0%;
}

/* 
#hamburger_menu_toggle.active {
  transform: rotate(180deg);
  left: 10em;
} */