:root {
  --background-color-light_m: #ffffff;
  --text-color-ligh_m: #000000;
  --background-color-dark_m: #121212;
  --text-color-dark_m: #ffffff;
  --VOR-color: #654279;
}

body {
  margin: 0;
}

.application-body {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

#application-content {
  flex: 1;
  font-family: 'Arial';
  background: whitesmoke;
  transition: margin-left 0.3s;
  /* Smooth transition for content area */
}

/* TODO: make same id name as in normal_UI */
/* Overlay when sidebar is active */
#application-content::before,
#header_bar::before {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* Below the sidebar and above the content */
}

/* Apply the blur effect to the content when sidebar is active */
#application-content.expanded::before,
#header_bar.expanded::before {
  display: block;
}

#application-content.expanded,
#header_bar.expanded {
  filter: blur(5px);
  /* Adjust blur intensity as desired */
}

.nav_logo {
  width: 30px;
  /* Smaller size */
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
  /* Space between icon and text */
}

#hamburger_menu_toggle {
  position: absolute;
  top: 15px;
  left: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 30px;
  transition: left 0.5s ease-in-out;
  /* Ensure smooth transition */
  z-index: 5;
  /* Make sure it's above other elements */
}

#hamburger_menu_toggle.active {
  left: calc(20em - 50px);
  /* Moves to the end minus the width of the toggle */
}

#hamburger_menu_toggle .bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#hamburger_menu_toggle.active .top {
  transform: translateY(10px) rotate(45deg);
  background-color: white;
}


#hamburger_menu_toggle.active .middle {
  opacity: 0;
}


#hamburger_menu_toggle.active .bottom {
  transform: translateY(-10px) rotate(-45deg);
  background-color: white;
}

.hamburger_menu_nav {
  height: 100vh;
  position: fixed;
  width: 20em;
  border-right: 1px solid gray;
  left: -20em;
  /* Start off-screen */
  transition: left 0.5s;
  z-index: 3;
  padding: 2rem 0 2rem 1.5rem;
  background-color: var(--VOR-color);
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/nav_background.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}


.hamburger_menu_nav a {
  font-family: 'Arial', sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.hamburger_menu_nav img.nav_icon {
  width: 25px;
  /* Smaller icon size */
  height: auto;
  margin-right: 10px;
  /* Space between icon and text */
}

.hamburger_menu_nav a:hover {
  text-decoration: underline;
  font-size: 1.35rem;
  /* Slightly larger font size on hover */
}

.hamburger_menu_nav.active {
  left: 0;
  /* Bring sidebar on-screen */
}

#hamburger_menu_bottom_nav {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

#nav_dark_mode_toggle {
  order: 2;
  width: 100%;
  margin-left: auto;
  margin-right: 1rem;

}

#hamburger_menu_bottom_nav .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#hamburger_menu_bottom_nav .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#hamburger_menu_bottom_nav .slider {
  position: absolute;
  cursor: pointer;
  width: 60px;
  /* Width of the slider */
  height: 34px;
  /* Height of the slider */
  top: 50%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Align center */
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

#hamburger_menu_bottom_nav .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 4px;
  /* Adjusted from 'bottom' to 'top' to ensure vertical centering */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

#hamburger_menu_bottom_nav input:checked+.slider:before {
  transform: translateX(34px);
  /* Ensure it moves exactly to the end of the slider */
}


#hamburger_menu_bottom_nav input:checked+.slider {
  background-color: #2196F3;
}

#hamburger_menu_bottom_nav input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.hamburger_menu_nav #VOR_nav {
  width: 5rem;
  margin-left: auto;
  margin-right: 1rem;
}

table#logbox td {
  white-space: nowrap;
}