td,
tr,
th {
  border: 1px solid rgb(160, 160, 160);
  border-collapse: collapse;
  cursor: all-scroll;
}

table {
  border-collapse: collapse;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  user-select: none;
  /* Standard syntax */
}

/* Style for the drag handle */
td:first-child {
  cursor: grab;
}

/* Optional: Style to indicate a draggable area */
td:first-child::before {
  content: '☰';
  display: inline-block;
  padding-right: 10px;
  cursor: grab;
}