<div id="mobile_controller_container">
	<div id="horizontal_bar">
		<div class="left_section">
			<p class="current_mode_text">manual drive</p>
			<div class="inf_speed speed_value">
				<p class="inf_speed_value">0</p>
				<div class="inf_speed_label"></div>
			</div>
			<p class="inf_operating_time"></p>
		</div>
		<div class="middle_section">
			<img src="../static/assets/manual_mode.png" class="steeringWheel deep_purple" />
			<span class="autopilot_status"></span>
		</div>
		<div class="right_section">
			<button class="current_mode_button">START FOLLOWING</button>
			<!-- The text inside `current mode button` is just a place holder. It will change with each mode -->
			<p class="current_mode_state"></p>
		</div>
	</div>

	<div id="main_view">
		<iframe id="map_frame"></iframe>

		<div id="forward_square" class="square">
			<canvas class="trail_canvas"></canvas>
			<div class="square_text">forward</div>
			<span class="stop_text">drag your finger to this area to force the robot to stop</span>
			<div class="control_symbol plus"></div>
		</div>

		<div id="backward_square" class="square">
			<canvas class="trail_canvas"></canvas>
			<div class="square_text">backward</div>
			<span class="stop_text">drag your finger to this area to force the robot to stop</span>
			<div class="control_symbol minus"></div>
		</div>
		<canvas id="following_imageCanvas"></canvas>
	</div>
</div>
