<div id="mobile_controller_container">
	<div id="forward_square" class="square">
		<canvas class="trail_canvas"></canvas>
		<div class="square_direction_text">FORWARD</div>
		<span class="stop_text">DRAG YOUR FINGER TO THIS AREA TO FORCE THE ROBOT TO STOP</span>
	</div>

	<div id="backward_square" class="square">
		<canvas class="trail_canvas"></canvas>
		<div class="square_direction_text">BACKWARD</div>
		<span class="stop_text">DRAG YOUR FINGER TO THIS AREA TO FORCE THE ROBOT TO STOP</span>
	</div>
</div>

<script type="module" src="../static/JS/mobileController/mobileController_a_app.js"></script>
