<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../static/CSS/mobileController.css" />
		<link rel="shortcut icon" href="#" />
		<title>Mobile controller</title>
	</head>

	<body>
		<div id="mobile-controller-top-input-container">
			<div id="dead-zone-container">
				<label for="deadZoneWidth">Dead Zone Width:</label>
				<input type="range" id="deadZoneWidth" name="deadZoneWidth" min="0" max="0.5" step="0.01" value="0.1" />
			</div>
		</div>

		<div id="mobile-controller-bottom-input-container">
			<!-- Place holder for toggle buttons related to other service -->
		</div>
  <button id="confidenceToggleButton">Start overview confidence</button>
		<script src="../static/external/pixi-v7.3.0-rc.2.min.js"></script>
		<script type="module" src="../static/JS/mobileController/mobileController_a_app.js"></script>
	</body>
</html>
