<!DOCTYPE html>
<html>

<head>
  <title>Video Stream</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .canvas-container {
      display: flex;
    }

    canvas {
      border: 1px solid black;
      margin: 10px;
    }

    #capturedFrame {
      display: none;
      margin: 10px auto;
    }
  </style>
</head>

<body>
  <canvas id="rearVideoCanvas"></canvas>
  <canvas id="frontVideoCanvas"></canvas>

  <button id="captureFrontButton">Capture Front Frame</button>
  <button id="captureRearButton">Capture Rear Frame</button>
  <img id="capturedFrame" alt="Captured frame">

  <script>
    if (!("WebSocket" in window)) {
      alert("Your browser doesn't support WebSockets. Please upgrade to a modern browser.");
      throw new Error("WebSocket not supported.");
    }

    const WS_BASE_URL = 'ws://192.168.1.100:8080/ws/cam/';

    function setupWebSocket(camera, canvas, context) {
      const socket = new WebSocket(WS_BASE_URL + camera);
      socket.onopen = function () {
        socket.send(JSON.stringify({ action: 'REQUESTSTREAM' }));
        setInterval(() => safelySend({ quality: 50 }, socket), 10);
      };
      socket.onmessage = function (event) {
        displayFrame(event.data, context, canvas);
      };
      socket.onerror = function (error) {
        console.error(`WebSocket Error: ${error}`);
      };
      socket.onclose = function (event) {
        if (event.wasClean) {
          console.info(`Connection closed cleanly, code=${event.code}, reason=${event.reason}`);
        } else {
          console.error('Connection died');
        }
      };
      return socket;
    }

    const frontVideoCanvas = document.getElementById('frontVideoCanvas');
    const rearVideoCanvas = document.getElementById('rearVideoCanvas');
    const frontVideoContext = frontVideoCanvas && frontVideoCanvas.getContext('2d');
    const rearVideoContext = rearVideoCanvas && rearVideoCanvas.getContext('2d');

    const captureFrontButton = document.getElementById('captureFrontButton');
    const captureRearButton = document.getElementById('captureRearButton');
    const capturedFrame = document.getElementById('capturedFrame');

    captureFrontButton && captureFrontButton.addEventListener('click', () => captureFrame(frontVideoCanvas));
    captureRearButton && captureRearButton.addEventListener('click', () => captureFrame(rearVideoCanvas));

    let hasLoggedError = false;  // Flag to track if we've logged the error

    function safelySend(data, socket) {
      if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify(data));
      } else if (!hasLoggedError) {
        console.error("WebSocket is already in CLOSING or CLOSED state.");
        hasLoggedError = true;
      }
    }

    function displayFrame(data, context, canvas) {
      const blob = new Blob([data], { type: 'image/jpeg' });
      const url = URL.createObjectURL(blob);
      const img = new Image();
      img.onload = function () {
        canvas.width = img.width;
        canvas.height = img.height;
        context.drawImage(img, 0, 0);
        URL.revokeObjectURL(url);
      };
      img.src = url;
    }

    setupWebSocket('front', frontVideoCanvas, frontVideoContext);
    setupWebSocket('rear', rearVideoCanvas, rearVideoContext);

    function captureFrame(canvas) {
      const dataUrl = canvas.toDataURL('image/jpeg');
      capturedFrame.src = dataUrl;
      capturedFrame.onload = function () {
        canvas.width = capturedFrame.width;
        canvas.height = capturedFrame.height;
        (canvas === frontVideoCanvas ? frontVideoContext : rearVideoContext).drawImage(capturedFrame, 0, 0);
      };
      capturedFrame.style.display = 'block';
    }
  </script>
</body>

</html>