<!DOCTYPE html>
<html lang="en">
	<body>
		<div id="container_admin_settings">
			<div id="container_segment_table">
				<p id="segments_header">Segments order</p>
				<table id="segment_table">
					<thead>
						<tr>
							<th></th>
							<th>Position</th>
							<th>VIN</th>
							<th>MAC</th>
							<th>WiFi network name</th>
							<th>Host</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<button type="submit" id="Add_row">Add Row</button>
			<button type="submit" id="test_config">Test</button>

			<div id="container_connectable_networks_table">
				<p id="header_found_segments">Found segments</p>
				<table id="connectable_networks_table">
					<thead>
						<tr>
							<th>Segment name</th>
							<th></th>
						</tr>
					</thead>
					<!-- All the data here is for debugging. They will be removed automatically once the fetch function is called -->
					<tbody>
						<tr>
							<td>Loading data ..</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p id="dummy_text" style="display: none"></p>
		</div>
	</body>
</html>
