<!DOCTYPE html>
<html lang="en">
	<body>
		<div id="container_admin_settings">
			<div id="container_segment_table">
				<p id="segments_header">Segments order</p>
				<table id="segment_table">
					<thead>
						<tr>
							<th></th>
							<th>Position</th>
							<th>VIN</th>
							<th>MAC</th>
							<th>WiFi network name</th>
							<th>Host</th>
							<th>Action</th>
						</tr>
					</thead>
					<!-- All the data here is for debugging. They will be removed automatically once the fetch function is called -->
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td>CP_Carl</td>
							<td><input type="radio" name="mainSegment" /></td>
							<td><button type="button">X</button></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>CP_Davide</td>
							<td><input type="radio" name="mainSegment" /></td>
							<td><button type="button">X</button></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>CP_Earl</td>
							<td><input type="radio" name="mainSegment" /></td>
							<td><button type="button">X</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<button type="submit" id="Add_row">Add Row</button>
			<button type="submit" style="display: none" id="save_config">Save</button>

			<p id="dummy_text" style="display: none"></p>
		</div>
	</body>
</html>
