<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>user settings</title>
		<link rel="stylesheet" href="../static/external/jquery-ui-1.12.1.min.css" />
		<link rel="stylesheet" href="../static/external/radioslider-1.0.0_b1.min.css" />
		<link rel="stylesheet" href="../static/external/datatables/datatables-1.11.5.min.css" />
		<link rel="stylesheet" href="../static/external/datatables/fixedheader-3.2.2.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/CSS/user_menu.css" />
		<link rel="stylesheet" type="text/css" href="../static/CSS/style.css" />
	</head>

	<body class="application">
		<div class="application-body">
			<main class="application-content">
				<div id="application-content-container">
          
        </div>
			</main>
		</div>
		<script src="../static/external/jquery-3.4.1.min.js"></script>
		<script src="../static/external/jquery-ui-1.12.1.min.js"></script>
		<script src="../static/external/jquery.radioslider-1.0.0_b1.min.js"></script>
		<script src="../static/external/datatables/datatables-1.11.5.min.js"></script>
		<script src="../static/external/datatables/fixedheader-3.2.2.min.js"></script>
		<script src="../static/JS/Index/index_a_utils.js"></script>
		<script src="../static/JS/userMenu/menu_settings.js"></script>
		<script src="../static/JS/userMenu/menu_controls.js"></script>
		<script src="../static/JS/userMenu/menu_logbox.js"></script>
		<script type="module" src="../static/JS/userMenu/user_menu.js"></script>
	</body>
</html>
