<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>user settings</title>
		<link rel="stylesheet" href="../static/external/jquery-ui-1.12.1.min.css" />
		<link rel="stylesheet" href="../static/external/radioslider-1.0.0_b1.min.css" />
		<link rel="stylesheet" href="../static/external/datatables/datatables-1.11.5.min.css" />
		<link rel="stylesheet" href="../static/external/datatables/fixedheader-3.2.2.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/CSS/user_menu.css" />
		<link rel="stylesheet" type="text/css" href="../static/CSS/style.css" />
	</head>

	<body class="application">
		<div class="application-body">
			<div id="hamburger_menu_toggle" title="navigate to user menu page">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<nav class="hamburger_menu_nav">
				<div id="hamburger_menu_top_nav">
					<!-- These ASCII codes are for testing only -->
					<p><a href="#" id="home_link">&#9881; Homepage</a></p>
					<p><a href="#" id="ai_training_link">&#9881; AI Training</a></p>
					<p><a href="#" id="autopilot_link">&#9881; Autopilot</a></p>
					<p><a href="#" id="map_recognition_link">&#9881; Map Recognition</a></p>
					<p><a href="#" id="follow_link">&#9881; Follow</a></p>
				</div>
				<div id="hamburger_menu_bottom_nav">
					<p><a href="#" id="settings_link">&#9881; Advanced Settings</a></p>
					<p><a href="#" id="controls_link">&#9881; Controls</a></p>
					<p><a href="#" id="events_link">&#9881; Training Events</a></p>
					<p><a href="/mc" id="phone_controller_link">&#9881; Control by Phone</a></p>
					<p>current mode toggle</p>
					<p>logo place holder</p>
				</div>
			</nav>

			<main class="application-content">
				<div id="application-content-container"></div>
			</main>
		</div>
		<script src="../static/external/jquery-3.4.1.min.js"></script>
		<script src="../static/external/jquery-ui-1.12.1.min.js"></script>
		<script src="../static/external/jquery.radioslider-1.0.0_b1.min.js"></script>
		<script src="../static/external/datatables/datatables-1.11.5.min.js"></script>
		<script src="../static/external/datatables/fixedheader-3.2.2.min.js"></script>
		<script src="../static/JS/Index/index_a_utils.js"></script>
		<script src="../static/JS/userMenu/menu_settings.js"></script>
		<script src="../static/JS/userMenu/menu_controls.js"></script>
		<script src="../static/JS/userMenu/menu_logbox.js"></script>
		<script src="../static/JS/userMenu/user_menu.js"></script>
	</body>
</html>
