<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/CSS/user_admin.css" />
  <title>Document</title>
  <style>

  </style>
</head>

<body>
  <div id="container_admin_settings">
    <div id="container_segment_table">

      <p id="Segments_header">Segments order</p>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Position</th>
            <th>WiFi network name</th>
            <th>IP number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td>jhon@gmail.com</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>123@yahoo.com</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>321@yahoo.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="../static/JS/userMenu/menu_admin.js"></script>

</body>

</html>
<script type="text/javascript">
  // Function to enable row dragging
  enableDragAndDrop();
  const adminSettings = new AdminMenu();
  adminSettings.fetchDataAndDisplay()
</script>